*{
  box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

  .flex-container > .column1 {
    background-color: #f1f1f1;
    flex: 30%;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
  }

  .flex-container > .column2 {
    background-color: dodgerblue;
    flex: 30%;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
  
  }
  
  .flex-container > .column3 {
    background-color: orange;
    flex: 30%;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    
      
  }
  h1 {
    display: flex;
    justify-content: center;
    margin:10px;
    padding: 20px;
  }
  li {
    display:flex;
    justify-content: middle;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      justify-content: middle;
      width: 90%;
    }
  }

    /* From here down is the recipes.index page layout this is for ingredients.html */

    h2  {
      display: flex;
      justify-content: center;
      background-color: aqua;

    }
/* for the recipes pages */
    .flex-container > .recipe-amounts {
      display: flex;
      margin:10px;
      padding: 20px;
      flex-direction: column;
      float: left; 
      background-color: aqua;
      
    }
    
    .flex-container > .recipe-ingredients {
      display: flex;
      margin: 10px;
      padding: 20px;
      flex-direction: column;
      float: right;
      background-color: aqua;
      
    }
    .recipe-method {
      display: flex;
      margin: 10px;
      flex-direction: column;
      background-color: aqua;
      padding: 20px;   
    }

/* end of the recipes pages */    
