*{
  box-sizing: border-box;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
  }

  .flex-container > .column1 {
    background-color: #f1f1f1;
    flex: 25%;
    margin: 5px;
    text-align: center;
    font-size: 16px;
  }

  .tartar_alergins_hide, .hopper_Salmon_alergins_hide {
    display: none;
    text-align: center;
    margin: auto;
  }
  .tartar_alergins:hover + .tartar_alergins_hide {
    display: block;
    color: white;
    background-color: brown;
    padding: .5em;
    width: 50%;
    text-align: center;
    border-radius: .5em;
  }

  .hopper_Salmon_alergins:hover + .hopper_Salmon_alergins_hide {
    display: block;
    color: black;
    background-color: yellow;
    padding: .5em;
    width: 50%;
    text-align: center;
    border-radius: .5em;
  }

  .flex-container > .column2 {
    background-color: #f1f1f1;
    flex: 25%;
    margin: 5px;
    text-align: center;
    font-size: 16px;
  
  }
  
  .flex-container > .column3 {
    background-color: #f1f1f1;
    flex: 25%;
    margin: 5px;
    text-align: center;
    font-size: 16px;   
  }

  h1 {
    display: flex;
    justify-content: center;
    margin:10px;
    padding: 20px;
  }

  li {
    display:flex;
    justify-content: middle;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  .back_to_prepPage {
    border: none;
    color: yellow;
    padding:1em 2em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: .5em;
    background-color: green;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      justify-content: middle;
      width: 75%;
      justify-content: center;
    }
  }

    /* From here down is the recipes.index page layout this is for ingredients.html */

    h2  {
      display: flex;
      justify-content: center;
      background-color: aqua;

    }
/* for the recipes pages */
    .flex-container > .recipe-amounts {
      display: flex;
      margin:10px;
      padding: 20px;
      flex-direction: column;
      float: left; 
      background-color: aqua;
      
    }
    
    .flex-container > .recipe-ingredients {
      display: flex;
      margin: 10px;
      padding: 20px;
      flex-direction: column;
      float: right;
      background-color: aqua;
      
    }
    .recipe-method {
      display: flex;
      margin: 10px;
      flex-direction: column;
      background-color: aqua;
      padding: 20px;   
    }

/* end of the recipes pages */    
